In [6]:
import os
import numpy as np
import pandas as pd

In [7]:
data = pd.read_csv('./dataset/new/data.csv').drop(columns="Unnamed: 0")
labels = pd.read_csv('./dataset/new/labels.csv')

In [8]:
data.head()

,zcr_mean,zcr_std,yin_0,yin_1,yin_2,yin_3,yin_4,yin_5,yin_6,yin_7,...,cln_contrast_mean_4,cln_contrast_mean_5,cln_contrast_mean_6,cln_contrast_std_0,cln_contrast_std_1,cln_contrast_std_2,cln_contrast_std_3,cln_contrast_std_4,cln_contrast_std_5,cln_contrast_std_6
0,0.166783,0.079440,490.95706,491.75300,488.98358,485.07758,469.73868,513.68710,512.65735,245.0429,...,13.432678,13.885087,17.060001,6.169077,3.001384,3.211213,4.549636,3.261581,3.175519,1.371739
1,0.241420,0.026630,467.41357,516.48170,515.56213,514.21027,509.39246,510.75034,511.41998,511.0642,...,11.027208,14.805115,17.158812,4.463205,3.956305,1.962520,2.206298,2.378360,1.921748,2.072176
2,0.264509,0.023550,511.84506,508.17822,509.49075,509.44510,513.54913,512.35550,514.46606,515.2646,...,12.740061,13.215790,16.725847,1.774137,3.766160,2.463165,1.830873,3.058117,1.740199,1.977650
3,0.295410,0.016382,514.25470,512.56980,4576.39400,4567.56050,4576.48800,4655.34030,4689.93850,4697.4040,...,11.951676,13.193249,16.734816,3.230220,3.042296,3.633888,2.285815,2.923266,1.529872,1.633861
4,0.292899,0.026179,462.35953,4722.73050,4718.76900,4696.35940,4698.63870,4731.37550,4714.80960,4737.3643,...,10.747338,12.740884,16.750946,3.083272,2.659685,3.981223,3.348599,2.550901,1.909587,1.636644

In [10]:
from sklearn.model_selection import KFold

kf = KFold(n_splits=5, shuffle=True, random_state=42)

for train_index, test_index in kf.split(data):
    X_train, X_test = data.iloc[train_index], data.iloc[test_index]
    y_train, y_test = labels.iloc[train_index], labels.iloc[test_index]
    # do your modeling and evaluation here

In [23]:
for i in range(7):
    print(f"bird{i}:",y_train[y_train["Aggregated"]==i].shape[0])

bird0: 68299
bird1: 4647
bird2: 7113
bird3: 6575
bird4: 1871
bird5: 4081
bird6: 3414

In [24]:
# Edis: Decision Trees/ Random Forests
# Dmytro: KNN/ Naive Bayes
# Jonathan: SVMs
# Hussein: ANN